@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
:root {
    --modal-color:rgba(0,0,0,0.25);
    --font-color:white;
    --background-color: rgb(42, 172, 199);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color);
}

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Abhaya Libre',serif;
    overflow: hidden;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image:url('/Media/background.jpg'); 
}

#gamePanel {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    z-index: 2;
    visibility: hidden;
}

#topPart {
    background-color: var(--modal-color);
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#bottomPart {
    background-color: var(--modal-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg,rgba(91, 193, 248,0.15),#fff);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.bubble:hover {
    background-image: linear-gradient(45deg,rgb(101, 171, 208),#fff);
}

.counter {
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}
.counter h2{
    font-size: 20px;
    color: var(--font-color);
}

.countVal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    color: rgb(0, 114, 171);
    font-weight: 600;
}

.endOfGame {
    color: var(--font-color);
}

#sideButtons {
    width: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

#sideButtons button {
    background-color: rgb(62, 183, 253);
    padding: 0.2rem;
    border: 0.5px;
    outline: none;
    border-radius: 50%;
}

#Counters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#myVideo {
    position:fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.again {
    background-color: rgb(62, 183, 253);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-top: 0.75rem;
}

.gameOptions {
    position: relative;
    top: -1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#startPanel {
    position: absolute;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    z-index: 2;
    visibility: visible;
}

.logoImage {
    width: 100%;
    height: 50%;
    transform: perspective(5rem) translateZ(-1rem);
}